# Generated third-party license text and archived source bytes are reproduced verbatim.
native/Resources/mingli.js -whitespace
native/Resources/ThirdPartyNotices.txt -whitespace
native/Engine/validation/research-qizheng/catalogue/hipparcos-28.tsv -whitespace
native/Engine/validation/research-qizheng/catalogue/hipparcos-readme.txt -whitespace
native/Engine/validation/research-qizheng/catalogue/stellarium/* -whitespace
